body {
  margin: 0;
}

#root {
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column; /*Vertical layout */
  align-items: center; /* Center content horizontally */
  padding: 16px;
}


/*Gender Classification Options */
.classification-gender-options {
  display: flex; /*Horizontal layout */
  gap: 16px; /*Space between gender options */
  margin-top: 8px; /*Space above gender */
}

.classification-gender-options label {
  cursor: pointer;
}

.classification-gender-options input[type="radio"] {
  margin-right: 8px;
}


/*Data Classification Options */
.classification-data-options {
  display: flex; /*Horizontal layout */
  gap: 24px; /*Space between data options */
  margin-top: 8px; /*Space above data options */
  justify-content: center; /* Center options horizontally */
}

.classification-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px; /*Space above Gender Selection section*/
}

.classification-data p {
  margin: 0 0 4px 0; /*Space above data text */
}

.classification-data input {
  width: 90px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.input-unit {
  display: flex;          /* input and unit side by side */
  align-items: center;    
  gap: 4px;               /* space between input and unit */
}

.input-unit span {
  color: #000000;
  font-weight: bold;
}